body
{
    font-family: Poppins;
    margin: 0;
    padding: 0;
    background-color: rgba(7, 2, 18, 0.947) ;
}
nav
{
    background-color:rgb(16, 3, 28);
    width: 100%;
    justify-content: space-around;
    display: flex;
    align-items: center;
}
nav #logo
{
    color: rgb(39, 8, 67);
    font-size: 1.9em;
}
nav #link a
{
    color: #fff;
    font-size: 18px;
    margin: 5px;
    text-decoration: none;
    transition: all 0.3s ease-in 0s;
}
nav #link a:hover
{
    color: rgb(65, 8, 114);
}